<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= category.replace(/_/, ' ')%> | <%= title%></title>
  <%- include("./elements/head");%>
    <link rel="stylesheet" href="../../css/article.css">
    <script defer src="../../js/article.js"></script>
    <script defer src="../../js/footer.js"></script>
    <script defer src="../../js/header.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <%- include("./elements/header");%>
  <div class="main">
    <div class="inner">
      <div class="article">
        <div class="contents">
          <h2>Contents</h2>
        </div>
        <div class="text">
        </div>
      </div>
    </div>
    <div class="likes">
      <button id="btn_likes"></button>
    </div>
    <div class="related-wrapper">
      <h2>Related Articles</h2>
      <div class="related">
        <div class="articles-wrapper" id="style-8">
          <div class="related_articles"></div>
          <div class="related_articles"></div>
          <div class="related_articles"></div>
          <div class="related_articles"></div>
        </div>
      </div>
    </div>
    <footer>
      <%- include("./elements/footer");%>
    </footer>
  </div>
</body>

</html>