<!DOCTYPE html>
<html lang="en">
<head>
  <title>CONNECTWITH</title>
  <%- include("./elements/head");%>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/category.css">
  <script defer src = "../../js/sort.js"></script>
  <script defer src = "../../js/header.js"></script>
</head>
<body>
  <%- include("./elements/header");%>
  <div class="main">
    <div class="section">
      <div class="inner">
        <div class="guideline">
          <div class="title">
            <h2><%= category.replaceAll("_", " ")%></h2>
          </div>
          <div class="sort">
            <button id = "sort_btn">Sort</button>
            <div class = "sort-opt">
              <input type="radio" id="sortChoice1" name="sort" />
              <label for="sortChoice1">By views</label>
        
              <input type="radio" id="sortChoice2" name="sort" />
              <label for="sortChoice2">By likes</label>
        
              <input type="radio" id="sortChoice3" name="sort" checked/>
              <label for="sortChoice3">By category</label>
            </div>
          </div>
          <div class="items"class="scrollbar" id="style-7" >
            <ul>
              <% for(let i = 0; i < articles.length; i++){%>
                <li class = <%= category.replaceAll("_", " ")%>>
                  <a href=../../<%=articles[i].path%>>
                    <div class="img_area">
                      <img src=<%= articles[i].img_url%> alt="">
                    </div>
                    <div class="topic">
                      <h3><%= articles[i].title%> <i class="fa-regular fa-heart"></i> <%= articles[i].likes%></h3>
                    </div>
                    <div class="explanation">
                      <h3><%- articles[i].contents%></h3>
                    </div>
                    <div class="tags">
                      <p></p>
                    </div>
                  </a>
                </li>
              <%}%>
            </ul>
          </div>
        </div>
      </div>
      <footer>
        <%- include("./elements/footer");%>
      </footer>
    </div>
  </div>
</body>
</html>