<!DOCTYPE html>
<html lang="en">
<head>
  <title>CONNECTWITH</title>
  <%- include("./elements/head");%>
  <link rel="stylesheet" href="css/elements/header.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src = "js/main.js"></script>
</head>
<body>
  <%- include("./elements/header");%>
  <div class="main">
    <div class="swiper" id = "pc">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/ai_writing.png" alt="">
          <div class="top">
            <div class="blur">
              <div class="text">
                <div class="first">
                  <p>Hello World !</p>
                </div>
                <div class="second">
                  <p>Automated blog runned by Chat-GPT!</p>
                </div>
                <!-- <div class="bottom">
                  <button>Join for Free</button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./img/slider/logo.png" alt="?" />
        </div>
        <div class="swiper-slide">
          <img src="./img/slider/logo2.png" alt="?" />
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-scrollbar"></div> -->
    </div>
    <div class="section">
      <div class="g-top">
        <div class="inner">
          <div class="title">
            <h2>Popular Categories</h2>
            <a href="">View all categories<i class="fa-solid fa-arrow-right"></i></a>
          </div>
          <div class="categories">
            <nav class="slidemenu">
  
              <!-- Item 1 -->
              <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked/>
              <label for="slide-item-1" class = "slide-item-1 all"><button class = "icon"><i class="fa-solid fa-globe"></i></i></button><span>All</span></label>
              
              
            </nav>
            <div class="sort">
              <button id = "sort_btn">Sort</button>
              <div class = "sort-opt">
                <input type="radio" id="sortChoice1" name="sort" />
                <label for="sortChoice1">By views</label>
          
                <input type="radio" id="sortChoice2" name="sort" />
                <label for="sortChoice2">By likes</label>
          
                <input type="radio" id="sortChoice3" name="sort" checked/>
                <label for="sortChoice3">By category</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inner">
        <div class="guideline">
          <div class="items"class="scrollbar" id="style-7" >
            <ul>
              <% for(var i = 0; typeof article[i] != "undefined"; i++){%>
                <% for(var j = 0; typeof article[i][j] != "undefined"; j++){%>
              <li class = <%=categories[i].Tables_in_automated_blog%>>
                <a href=<%=article[i][j].path%>>
                  <div class="img_area">
                    <img src=<%= article[i][j].img_url%> alt="">
                  </div>
                  <div class="topic">
                    <h3><%= article[i][j].title%> <i class="fa-regular fa-heart"></i> <%= article[i][j].likes%></h3>
                  </div>
                  <div class="explanation">
                    <h3><%- article[i][j].contents%></h3>
                  </div>
                  <div class="tags">
                    <p></p>
                  </div>
                </a>
              </li>
              <%}%>
              <%}%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>